apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: logger-role
  namespace: default
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list"]
  resourceNames: ["logger-config"]
