apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: backend-virtualservice
  namespace: default
spec:
  hosts:
  - backend-service
  http:
  - match:
    - headers:
        x-canary:
          exact: "true"
    route:
    - destination:
        host: backend-service
        subset: v2
      weight: 100
  - route:
    - destination:
        host: backend-service
        subset: v1
      weight: 100
