apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: default
data:
  redis.conf: |
    # Redis configuration
    save 900 1
    save 300 10
    save 60 10000
    appendonly yes
    appendfsync everysec
