apiVersion: v1
kind: Service
metadata:
  name: logger-service
  namespace: default
  labels:
    app: logger
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: logger
